*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #19A1AD;
    width: 100%;
    font-family: tahoma;
}
.topi img{
    width: 500px;
    position: fixed;
    left: -200px;
    top: -200px;
}
.bottomi img{
    width: 600px;
    position: fixed;
    right: -220px;
    bottom: -220px;
}
.container{
    height:450px;
    width: 350px;
    background: #fff;
    margin: 70px auto;
    border-radius: 10px;

}
.container .top{
    background-image: url(images/bg-pattern-card.svg);
    height: 30%;
    position: relative;
    border-top-left-radius:8px ;
    border-top-right-radius: 8px;
}

div .top img{
    position: absolute;
    left: 34%;
    bottom: -35%;
    border-radius: 50%;
    border: 8px solid #fff;
}

div .bottom{
    height: 70%;
}

.name{
    margin-top: 60px;
    font-weight: 500;
    text-align: center;
}

.name p{
    font-size: 25px;
}
.name span{
    opacity: .5;
}
.name h4{
    opacity: 0.5;
    padding-top: 10px;
}

hr{
    margin-top: 50px;
    opacity: .4;
}
.number{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 30px;
    text-align: center;
    color: #757575;
}

.names{
    text-align: center;
    word-spacing: 30px;
    padding-top: 10px;
    font-weight: 700;
}

@media (max-width:700px){
    .topi img{
        width: 350px;
        
    }
    .bottomi img{
        width: 300px;
        right: -120px;
        bottom: -150px;
    }
}